@model Playlist_for_party.Interfaсes.IMusicRepository
@{
    ViewData["Title"] = "Home";
}


@section Styles{
    <link href="~/css/Home.css" rel="stylesheet" type="text/css"/>
}


<section class="section">
    <h2 class="section-title">Плейлисты</h2>

    <div class="section-body">
        @if (Model.Playlists.Count!=0)
        {
            @foreach (var item in Model.Playlists)
            {
                <div class="card m-1" style="width:200px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" style="color: #a2ded8">@Html.DisplayFor(modelItem => item.Name)</h6>
                        <a asp-controller="Home" asp-action="Playlist" asp-route-id="@item.PlaylistId">
                            <p class="card-text" style="color: #a2ded8">@Html.DisplayFor(modelItem => item.PlaylistId)</p>
                        </a>
                    </div>
                </div>
                foreach (var track in item.Tracks)
                {
                    <div class="track">
                        <div class="trackInfo">
                            <a href=@Html.DisplayFor(modelItem => track.Href)>
                                <img src="@Html.DisplayFor(modelItem => track.ImageUrl)" alt="Track picture">
                            </a>
                        </div>
                        <div class="track-content">
                            <div class="trackName">@Html.DisplayFor(modelItem => track.Name)</div>
                            <div class="artist">@Html.DisplayFor(modelItem => track.Artist)</div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p style="color: white">No data available</p>
        }
    </div>
</section>

<section class="section">
    <h2 class="section-title-2">choose</h2>
    <div class="section-body">
        <div class="section-body-item category-item">
            <a href="#">
                <h3>Podcast</h3>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GI3NRvHnUGQ5JQbL_jMyzAHaHa%26pid%3DApi&f=1&ipt=abd0f22d9399ee7da25207eabe089390181bb1bc3fc43b26f09bbef550b8afb6&ipo=images" alt="">
            </a>
        </div>
        <div class="section-body-item category-item">
            <a href="#">
                <h3>Podcast</h3>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GI3NRvHnUGQ5JQbL_jMyzAHaHa%26pid%3DApi&f=1&ipt=abd0f22d9399ee7da25207eabe089390181bb1bc3fc43b26f09bbef550b8afb6&ipo=images" alt="">
            </a>
        </div>
    </div>
</section>