@{
    ViewData["Title"] = "Playlist";
    var tracks = ViewBag.Tracks;
    var index = 0;
}

@section Styles{
    <link href="~/css/Playlist.css" rel="stylesheet" type="text/css"/>
}


<div class="playlist-songs">

    <table>
        @if (tracks.Any())
        {
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Исполнитель</th>
                <th>Популярность</th>
                <th>
                    <div class="time-image">
                        <img src="https://icones.pro/wp-content/uploads/2021/03/icone-d-horloge-gris.png" alt="">
                    </div>
                </th>
                <th>Редакторы</th>
            </tr>

            @foreach (var item in tracks)
            {
                index++;

                <tr style="height: 20px">
                    <td>@index</td>
                    <td class="song-title">
                        <div class="song-image">
                            <img src="@item.ImageUrl" alt=""/>
                        </div>
                        <div class="song-name-artist">
                            <div class="song-name">
                                @item.Name
                            </div>
                        </div>
                    </td>
                    <td class="song-album">@item.ArtistName</td>
                    <td class="song-popularity">@item.Popularity</td>
                    <td class="song-duration">@item.Duration</td>
                </tr>
            }
        }
        else
        {
            <p style="color: white">No data yet</p>
        }
    </table>
</div>