@using Playlist_for_party.Models.SpotifyModels.DTO
@model IEnumerable<Playlist_for_party.Models.SpotifyModels.DTO.ItemDto>
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    string query = ViewBag.query;
}


@section Styles{
    <link href="@Url.Content("~/css/HomePage.css")" rel="stylesheet" type="text/css"/>
}


<div class="row">

</div>

<section class="section">
    <h2 class="section-title">Свежие релизы</h2>
    <div class="section-body">
        @if (Model.Any())
        {
            @foreach (var item in Model.Where(i => i.GetType() == typeof(TrackDto)))
            {
                <div class="card m-1" style="width:200px;">
                    <div class="card-body">
                        <img style="color: #a2ded8; margin: 0" src="@Html.DisplayFor(modelItem => item.ImageRef)" width="150" height="150" alt="Release picture"/>
                        <h6 class="card-subtitle mb-2 text-muted" style="color: #a2ded8;  margin: 0">@Html.DisplayFor(modelItem => item.Name)</h6>
                        <a href="@Html.DisplayFor(modelItem => item.Href)" target="_blank">Listen</a>
                        <button class="btn btn-primary" type="submit" onclick="SendData(this)" id="@item.Id" >Add</button>
                    </div>
                </div>
            }
            @foreach (var item in Model.Where(i => i.GetType() == typeof(ArtistDto)))
            {
                <div class="card m-1" style="width:200px;">
                    <div class="card-body">
                        <img style="color: #a2ded8" src="@Html.DisplayFor(modelItem => item.ImageRef)" width="150" height="150" alt="Release picture"/>
                        <h6 class="card-subtitle mb-2 text-muted" style="color: #a2ded8">@Html.DisplayFor(modelItem => item.Name)</h6>
                        <a href="@Html.DisplayFor(modelItem => item.Href)" target="_blank">Listen</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p style="color: white">No data available</p>
        }
    </div>
</section>


<script>
function SendData(obj){

    let id = obj.id;
    fetch('http://localhost:5001/search/@query', {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({ "trackId": id.toString() })
})
.then(response => response.json())
.then(response => console.log(JSON.stringify(response)))
}

</script>




@* <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> *@
@* *@
@* <script type = "text/javascript"> *@
@* *@
@* $(document).ready(function(){ *@
@*     $(function SendData(obj) { *@
@*         var id = obj.ID; *@
@*         $.ajax({ *@
@*             type: "POST", *@
@*             url: "/search/{@query}", *@
@*             data: JSON.stringify(id), *@
@*             contentType: "application/json; charset=utf-8", *@
@*             dataType: "json", *@
@*             success: function(response) { *@
@*                 if (response != null) { *@
@*                     alert("Name : " + response.Name + ", Designation : " + response.Designation + ", Location :" + response.Location); *@
@*                 } else { *@
@*                     alert("Something went wrong"); *@
@*                 } *@
@*             }, *@
@*             failure: function(response) { *@
@*                 alert(response.responseText); *@
@*             }, *@
@*             error: function(response) { *@
@*                 alert(response.responseText); *@
@*             } *@
@*         }); *@
@*     }); *@
@* }) *@
@* *@
@* const buttons = document.querySelectorAll('input[type="button"]'); *@
@* for(let i = 0 ; i < buttons.length ; i++) { *@
@*   const btn = buttons[i]; *@
@*   btn.addEventListener('click' , (e) => SendData(this)) *@
@* } *@
@* </script> *@



@* <script> *@
@* *@
@* function SendData(obj){ *@
@* *@
@*     const id = obj.ID; *@
@*     SubmitBut(id); *@
@* } *@
@* function SubmitBut(id){ *@
@*     $.ajax({ *@
@*         url: "http://localhost:5001/search/{@query}", *@
@*         method: "POST", *@
@*         headers: { *@
@*                 'Accept': 'application/json', *@
@*                 'Content-Type': 'application/json' *@
@*             }, *@
@*         data: id.toString() *@
@*     }) *@
@* } *@
@* </script> *@

